* {
  margin: 0;
}
body {
  font-family: sans-serif;
  color: white;
}
.container {
  display: flex;
  margin: 10vh 2vw;
}
.card {
  position: relative;
  height: 80vh;
  background-size: cover;
  border-radius: 4rem;
  margin: 0 0.5rem;
  flex: 1;
  transition: flex 1s ease-in;
  cursor: pointer;
}
.card h3 {
  position: absolute;
  display: none;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
}
.card.active {
  flex: 10;
}
.card.active h3 {
  display: block;
}
